@media screen and (min-width:1200px){
	html,body{
		background-color: #f00;
	}
}
@media screen and (min-width:1000px) and (max-width:1200px){
	html,body{
		background-color: #399;
	}
}
@media screen and (min-width:640px) and (max-width:1000px){
	html,body{
		background-color:#ccc;
	}
}
@media screen and (max-width:640px){
	html,body{
		background-color: #ff0;
	}
}